*.o
*.lo
*.la
*.pyc
.*.swp
.libs/
.deps/
.dirstamp
.ignore
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
tags
.DS_Store
*.pdf
*.dot
*.out
sst_test_outputs/*
*.inc
src/sst/elements/ember/embertricount_setup
.vscode/settings.json
.vscode/settings.json
