*.o
*.lo
*.la
*.pyc
.*.swp
.libs/
.deps/
.dirstamp
.ignore
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
tags
.DS_Store
*.pdf
*.dot
vanadis_orig/
vanadis/tests/riscv/
vanadis/past_tests/
vanadis/old_ref/
vanadis/simt/
.vscode/
vanadis/tests/logs/
*.txt
