##############################################################################################
# This is our "best guess" knob file for a Merom-class (65nm) Intel Core 2
# processor.  We make no claims as to the accuracy or correctness of these
# settings, so use this at your own risk.  It is **your** responsibility to
# understand what you are modeling and simulating!
##############################################################################################
# -config                     # load configuration from a file
# -dumpconfig                 # dump configuration to a file
# -h                    false # print help message
-model                    DPM
-seed                       1 # random number generator seed (0 for timer seed)
# -q                    false # initialize and terminate immediately
# -chkpt               <null> # restore EIO trace execution from <fname>
# -ignore_notes         false # suppresses printing of notes
# -redir:sim           <null> # redirect simulator output to file (non-interactive only)
# -redir:prog          <null> # redirect simulated program output to file
-nice                      17 # simulator scheduling priority
# -                     false # ignored flag
-fastfwd            200000000 # number of inst's to skip before timing simulation
-warm:caches             true # warm caches during fastfwd
-warm:bpred              true # warm bpred during fastfwd
-max:inst            25000000 # maximum number of inst's to execute
-max:uops                   0 # maximum number of uop's to execute
-bpred           tage:TAGE5:5:2048:512:9:6:75 # bpred configuration(s)
-bpred:fusion            none # fusion algorithm for hybrid 2nd-level bpred
-bpred:btb       btac:BTB:512:4:8:l # branch target buffer configuration
-bpred:ibtb      2levbtac:iBTB:1:8:1:128:4:8:l # indirect branch target buffer configuration
-bpred:ras       stack:RAS:16 # return address stack predictor configuration
-jeclear:delay              1 # additional latency from branch-exec to jeclear
-flush:drain             true # use drain-flush after misprediction
-byteQ:size                10 # number of entries in byteQ
-predecode:depth            2 # number of stages in predecode pipe
-predecode:width            6 # width of predecode pipe (in Macro-ops)
-IQ:size                   18 # size of instruction queue (in Macro-ops - placed between predecode and decode)
-decode:depth               2 # decode pipeline depth in stages
-decode:width               6 # decode pipeline width in Macro-ops
-decode:targetstage         1 # stage of branch address calculator
-decoders             4 4 1 1 1 1 # maximum uops generated for each decoder (e.g., 4 1 1)
-fuse:all                false
-MS:latency                 0 # additional latency for accessing ucode sequencer
-uopQ:size                 24 # number of entries in uopQ
-alloc:depth                1 # alloc pipeline depth in stages
-alloc:width                6 # alloc pipeline depth in Macro-ops
-rs:size                 96 # number of reservation station entries
-ldq:size                96 # number of load queue entries
-stq:size                  64 # number of load queue entries
-exec:width                 8 # maximum issues from RS per cycle (equal to num exec ports)
-exec:tornado_breaker    true # enable heuristic tornado breaker [D]
-exec:partial_throttle   true # enable load-issue throttling on partial matches [D]
-payload:depth              1 # number of cycles for payload RAM access (schedule-to-exec delay)
-pb:ieu           0 1       5 6 7 # IEU port binding
-pb:jeu           0           6 7 # JEU port binding
-pb:imul            1         6 7 # IMUL port binding
-pb:idiv          0             7 # IDIV port binding
-pb:shift         5         0 # SHIFT port binding
-pb:fadd                    5 6 7 # FADD port binding
-pb:fmul            1         6 7 # FMUL port binding
-pb:fdiv          0             7 # FDIV port binding
-pb:fcplx         0             7 # FCPLX port binding
-pb:lda               2     5 # LD port binding
-pb:sta                 3     # STA port binding
-pb:std                   4   # STD port binding
-ieu:lat                    1 # IEU execution latency
-ieu:rate                   1 # IEU execution issue rate
-jeu:lat                    1 # JEU execution latency
-jeu:rate                   1 # JEU execution issue rate
-imul:lat                   1 # IMUL execution latency
-imul:rate                  1 # IMUL execution issue rate
-idiv:lat                  3 # IDIV execution latency
-idiv:rate                 1 # IDIV execution issue rate
-shift:lat                  1 # SHIFT execution latency
-shift:rate                 1 # SHIFT execution issue rate
-fadd:lat                   1 # FADD execution latency
-fadd:rate                  1 # FADD execution issue rate
-fmul:lat                   1 # FMUL execution latency
-fmul:rate                  1 # FMUL execution issue rate
-fdiv:lat                  10 # FDIV execution latency
-fdiv:rate                 2 # FDIV execution issue rate
-fcplx:lat                 15 # FCPLX execution latency
-fcplx:rate                5 # FCPLX execution issue rate
-lda:lat                    1 # LD-agen execution latency
-lda:rate                   1 # LD-agen execution issue rate
-sta:lat                    1 # ST-agen execution latency
-sta:rate                   1 # ST-agen execution issue rate
-std:lat                    1 # ST-data execution latency
-std:rate                   1 # ST-data execution latency
-memdep                  none # memory dependence predictor configuration
-rob:size                 256 # number of reorder buffer entries
-commit:width              10 # maximum number of uops committed per cycle
