#Argument[    0]: ./testbigFFT
#Argument[    1]: 256
#Argument[    2]: 256
#Argument[    3]: 256
#Argument[    4]: 1
#Argument[    5]: 30
#mype = 0, avg fwd time = 0.7304664 sec
#mype = 0, avg bwd time = 0.7420388 sec

fwd_fft1_pre        ,        3.863 ns
fwd_fft1            ,        9.460 ns
fwd_fft1_post1      ,        2.830 ns
fwd_fft1_post2      ,       16.029 ns
fwd_fft2_pre        ,        3.129 ns
fwd_fft2            ,        9.291 ns
fwd_fft2_post       ,       18.204 ns
fwd_fft3_pre        ,        3.105 ns
fwd_fft3            ,        9.277 ns
fwd_fft3_post       ,        2.559 ns
bwd_fft1_pre        ,        2.568 ns
bwd_fft1            ,        9.175 ns
bwd_fft1_post       ,        8.347 ns
bwd_fft2_pre        ,        3.141 ns
bwd_fft2            ,        9.224 ns
bwd_fft2_post       ,        9.780 ns
bwd_fft3_pre        ,       17.483 ns
bwd_fft3            ,        9.247 ns
bwd_fft3_post       ,        1.891 ns
